@import '../../shared';

.JobCard {
  margin-bottom: 1.5em;

  &__Content {
    border: 1px solid $gray-light;
    border-bottom: 0;
    padding: 1em;
    font-size: .9em;

    svg {
      vertical-align: text-bottom;
      color: $text-light;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: .5em;
    }
  }

  &__Status {
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #75d40d, #a0f164); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
