@import '../../shared';

.JobCard {
  margin-bottom: 1.5em;
  position: relative;

  &__Content {
    border: 1px solid $gray-light;
    border-bottom: 0;
    padding: 1em;
    font-size: .9em;
    &:hover {
      border: 1px solid $text-light;
      border-bottom: 0;
    }

    svg {
      vertical-align: text-bottom;
      color: $text-light;
      width: 16px;
      height: 16px;
      display: inline-block;
      margin-right: .5em;
    }
  }

  &__Status {
    height: 5px;
    width: 100%;

    &-correct {
      background: linear-gradient(to right, #75d40d, #a0f164); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    &-failed {
      background: linear-gradient(to right, #cb2d3e, #ef473a);
    }

    &-disabled {
      background: linear-gradient(to right, #8e9eab, #eef2f3);
    }

    &-inProgress {

    }
  }

  &__Links {
    padding: 1em 1em 1em 1.2em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 5px;
    cursor: pointer;
    &:hover {
      svg {
        color: currentColor;
      }
    }
  }
}
